@page

@model ProjectBoyd.Areas.Identity.Pages.AccountPending

@{
    ViewData["Title"] = "AccountPending";
}


<div id="body-main" class="full-width">

    <!-- MODALS GO HERE -->
    <!-- the main body container-->
    <!-- PAGE CONTENT GOES HERE -->

    <div class="login-page-bg-mask"></div> <!-- dims out the bg slightly -->

    <div class="login-page-body centering-flex">

        <div class="login-page-container">

            <div id="panel-3" class="login-page-container-item active">
                <!-- loading panel -->

                <img src="~/Assets/Images/Corp_RGB_White.png" class="brand-logo">

                <div></div>

                <div>
                    <div class="default-text" style="font-size: 1.2em">Your account is awaiting approval.</div>
                </div>

                <div></div>

                <div class="centering-flex">
                    <!-- loading spinner -->
                    <!-- insert loading spinner here -->

                </div>

            </div>

        </div>


    </div>

</div>