/* equipment checklist stuff */
    /* main form */
        #equipment-checklist-form {

            width: 100%;

        }

        #equipment-checklist-form > * {

            width: 100%;

            margin-bottom: 15px;

        }

        #equipment-checklist-form > *:last-child {

            margin-bottom: 0px;

        }

    
    /* entries */

        .equipment-checklist-entries:not(.plain) {

            border-radius: 8px;

            border: 1px solid var(--hover-color);

            background: var(--body-color);

            box-sizing: border-box;

            padding: 10px;

            overflow: auto;

        }

        .equipment-checklist-entries > * {

            margin-bottom: 15px;

        }

        .equipment-checklist-entries > *:last-child {

            margin-bottom: 0px;

        }

        .equipment-checklist-entry {

            justify-content: flex-start;

        }

        .equipment-checklist-entry > .default-text {

            margin: 0

        }

        .equipment-checklist-entry > input {

            margin-right: 10px;

            height:20px;

            width:20px;

        }


/* instruction info field stuff */

        .instruction-info-field {

            width: 100%;

            box-sizing: border-box;

        }

        .instruction-info-field-text {

            box-sizing: border-box;

            text-align: left;

            border: 1px solid rgba(0, 0, 0, 0.2);

            border-radius: 5px;

            background-color: var(--hover-color);

            padding: 5px;

            width: 100%;

            font-size: 1.1em;

        }

/* bullet list */
    .session-instructions-safety-list {

        font-size: 1.1em;

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        flex: 45%;

    }

    .safety-bullet-list {

        padding-left: 20px;

        margin: 0px;

        width: fit-content

    }

    .safety-bullet-list > * {

        margin: 0px;

        margin-bottom: 5px;

    }

/* category buttons */

    .instruction-categories-button-holder > * .material-icons {

        margin-right: 10px;

        font-size: 1.5em

    }

    .instruction-categories-button-holder > * {

        width: 100%;

        margin-bottom: 15px;

    }

    .instruction-categories-button-holder > *:last-child {

        margin-bottom: 0;

    }