@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.WebUtilities;
@using ProjectBoyd.Models;
@using ProjectBoyd.Data;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using ProjectBoyd.Models.EntityModels;
@using ProjectBoyd.Models.ObjectModels;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> roleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProtectedLocalStorage LocalStorage
@inject IJSRuntime JSRuntime
@*@inject ApplicationDbContext dbContext*@
@inject IDbContextFactory<ApplicationDbContext> dbFactory
@implements IAsyncDisposable

<div id="side-container">
    <!-- the side container -->

    <div class="side-container-header centering-flex" style="margin-bottom:15px;margin-top:15px;padding:0 10px 0px 10px;">
        <!-- the header for the side container-->

        <button id="session-status" class="centering-flex hover-background noselect" style="display: flex; column-gap: 20px; padding: 8px; box-sizing: border-box;">

            <div style="position: relative;width:45px;margin-right:12px;">
                <img class="avatar-icon" src="/Assets/Images/icons8-butterfly-96.png" style="width:100%; border-radius: 30%; object-fit: cover; background-color: #313131; padding: 3px; border: 0px solid rgba(255,255,255,0.1)">
                <img class="avatar-icon" src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png" style="width:100%;">
                <!-- session status -->
                <div style="border-radius:50%;position: absolute; background-color: var(--side-container-color);width:18px;height:18px;right:0px;bottom:0px;display:flex">

                    <div class="session-status" style="margin:auto;width:70%;height:70%;border-radius: 50%;background-color: @sessionStatusColor;"></div>

                </div>

            </div>

            <div>
                <div id="side-container-user-name" class="default-text" style="font-weight: bold; text-align: left; width:auto; font-size: 1em">@currentUser.UserName</div>
            </div>

        </button>

        <div id="side-container-toggle-flex" class="flex-divider" style="display:none;"></div>

        <button id="menu-toggle2" class="icon-button" style="height:40px;width:40px;display:none;">
            <span class="material-icons" style="margin:auto;font-size:25px">close</span>
        </button>

    </div>




    <div id="instructor-side-buttons" class="side-container-button-holder">

        <a id="InstructorDashboard-sidebar" class="side-container-button noselect" href="/Instructor/Index">

            <span class="material-icons">dashboard</span>
            <span>Dashboard</span>

        </a>

        <a id="SessionGenerator-sidebar" class="side-container-button noselect" href="/Instructor/SessionGenerator">

            <span class="material-icons">group_add</span>
            <span>Create Session</span>

        </a>

        <a id="ModuleCreator-sidebar" class="side-container-button noselect" href="/Instructor/LabCreator">

            <span class="material-icons">edit</span>
            <span>Create Lab</span>

        </a>

        <a id="DataExtract-sidebar" class="side-container-button noselect" href="/">

            <span class="material-icons">description</span>
            <span>Extract Data</span>

        </a>

        <a id="Surveys-sidebar" class="side-container-button noselect" href="/">

            <span class="material-icons">book</span>
            <span>Surveys</span>

        </a>

        <a id="AdminPanel-sidebar" class="side-container-button noselect" href="/Instructor/AdminPanel">

            <span class="material-icons">badge</span>
            <span>Roles</span>

        </a>

    </div>

</div>


@code {
    ApplicationDbContext dbContext;

    [Parameter]
    public string PageName { get; set; } = "AdminPanel";

    public string sessionStatusColor { get; set; } = "#ca2a2a";

    public ApplicationUser currentUser = new ApplicationUser();
    InstructorEntity instructorEntity;

    protected override async Task OnInitializedAsync() {
        // Db Factory
        dbContext = await dbFactory.CreateDbContextAsync();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;


        // find the name using the aspNet user table. print first, compare it to the table and get the name of the commulm
        // Once found query dbContext for the user
        
        // What

        //currentUser = await userManager.FindByNameAsync(user.Identity.Name);

        //instructorEntity = await dbContext.Instructors.FirstOrDefaultAsync(i => i.UserId == currentUser.Id);
        //if (instructorEntity != null && instructorEntity.SessionId != null && instructorEntity.SessionId >= 0) {
        //    sessionStatusColor = "#47c661";
        //}

        await base.OnInitializedAsync();

    }


    protected override async Task OnAfterRenderAsync(bool firstRender) {

        if (firstRender) {

            await JSRuntime.InvokeVoidAsync("InstructorNavBarSelect", PageName + "-sidebar");

            StateHasChanged();

        }


        if (instructorEntity != null && instructorEntity.SessionId != null && instructorEntity.SessionId >= 0) {
            sessionStatusColor = "#47c661";
        }
        else {
            sessionStatusColor = "#ca2a2a";
        }

    }

    public async ValueTask DisposeAsync() {
        if (dbContext != null) {
            await dbContext.DisposeAsync();
        }
    }

}

@*

    <div id="side-container">
        <!-- the side container -->

        <div class="side-container-header centering-flex" style="margin-bottom:15px;margin-top:15px;padding:0 10px 0px 10px;">
            <!-- the header for the side container-->

            <button id="session-status" class="centering-flex hover-background noselect" style="padding: 8px; box-sizing: border-box;">

                <div style="position: relative;width:45px;margin-right:12px;">
                    <img class="avatar-icon" src="https://tr.rbxcdn.com/8df083e060887d214f1df6f9c992bc8d/150/150/AvatarHeadshot/Png" style="width:100%;">
                    <!-- session status -->
                    <div style="border-radius:50%;position: absolute; background-color: var(--side-container-color);width:18px;height:18px;right:0px;bottom:0px;display:flex">

                        <div class="session-status" style="margin:auto;width:70%;height:70%;border-radius: 50%;background-color: #67ff67;"></div>

                    </div>

                </div>

                <div>
                    <div id="side-container-user-name" class="default-text" style="font-weight: bold; text-align: left; width:auto; font-size: 1em">Instructor Name</div>
                    <div id="student-session-status" class="default-text">Session Status</div>
                </div>

            </button>

            <div id="side-container-toggle-flex" class="flex-divider" style="display:none;"></div>

            <button id="menu-toggle2" class="icon-button" style="height:40px;width:40px;display:none;">
                <span class="material-icons" style="margin:auto;font-size:25px">close</span>
            </button>

            <div class="student-session-modal">

                <div class="student-session-modal-container list-flex">

                    <button class="rounded-button centering-flex" style="background-color: var(--content-color);color:rgb(255, 255, 255)">
                        <span class="material-icons">file_download</span>
                        Extract Data
                    </button>
                    <button class="rounded-button centering-flex" style="background-color: var(--content-color);color:rgb(255, 255, 255)">
                        <span class="material-icons">emoji_events</span>
                        View Badges
                    </button>
                    <button class="rounded-button centering-flex" style="background-color: var(--error-color);color:rgb(255, 255, 255)">
                        <span class="material-icons">logout</span>
                        Leave Session
                    </button>


                </div>

            </div>

        </div>




        <div id="instructor-side-buttons" class="side-container-button-holder">

            <a id="dashboard-sidebar" class="side-container-button noselect" href="/">

                <span class="material-icons">dashboard</span>
                <span>Dashboard</span>

            </a>

            <a id="sessioncreator-sidebar" class="side-container-button noselect" href="/">

                <span class="material-icons">group_add</span>
                <span>Create Session</span>

            </a>

            <a id="labcreator-sidebar" class="side-container-button noselect" href="/">

                <span class="material-icons">edit</span>
                <span>Create Lab</span>

            </a>

            <a id="dataextract-sidebar" class="side-container-button noselect" href="/">

                <span class="material-icons">description</span>
                <span>Extract Data</span>

            </a>

            <a id="survey-sidebar" class="side-container-button noselect" href="/">

                <span class="material-icons">book</span>
                <span>Surveys</span>

            </a>

            <a id="adminpanel-sidebar" class="side-container-button noselect" href="/">

                <span class="material-icons">badge</span>
                <span>Roles</span>

            </a>

        </div>

        <div id="student-side-buttons" class="side-container-button-holder">

            <a id="" class="side-container-button noselect" href="/">

                <span class="material-icons">assignment</span>
                <span>Instructions</span>

            </a>

            <a id="" class="side-container-button noselect" href="/">

                <span class="material-icons">addchart</span>
                <span>Data Table</span>

            </a>

            <a id="" class="side-container-button noselect" href="/">

                <span class="material-icons">gps_fixed</span>
                <span>Calibration</span>

            </a>

            <a id="" class="side-container-button noselect" href="/">

                <span class="material-icons">lightbulb</span>
                <span>Tips</span>

            </a>

            <a id="" class="side-container-button noselect" href="/">

                <span class="material-icons">help_center</span>
                <span>Request Help</span>

            </a>

        </div>

    </div> *@